parameters:

    paths:
        - src/
        - config/

    level: 8

    ignoreErrors:
        -
            message: '#Function config not found#'
        -
            message: '#Function base_path not found#'
        -
            message: '#Function public_path not found#'
        -
            message: '#Function config_path not found#'
        -
            message: '#Call to static method add\(\) on an unknown class Illuminate\\Foundation\\Console\\AboutCommand#'
            path: src/ServiceProvider.php
